@model IEnumerable<PosSustemUIU.Models.UnitType>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        @await Component.InvokeAsync(
        "DataTable", new DataTableModel { 
            Controller = "Unittype",
            Columns = new List<string>{"Name", "Code", "Description", "Active", },
            Heading = "Product Units",
            TableData = Model,
            CreateButton = true,
            Keys = new List<string> {"Name", "Code", "Description", "IsActive", },
            Actions = new List<TableActions> {TableActions.Edit, TableActions.Delete, TableActions.SoftDelete}
        })
    </div>
</div>