@page
@model ForgotPasswordModel
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
    <div class="auth-box bg-dark border-top border-secondary">
        <div id="loginform">
            <div class="text-center p-t-20 p-b-20">
                <span class="db"><img src="~/admin/assets/images/logo.png" alt="logo" /></span>
            </div>
            <!-- Form -->
            <div asp-validation-summary="All" class="text-danger"></div>
            <form class="col-12" action="index.html">
                <!-- email -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                    </div>
                    <input asp-for="Input.Email" type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <!-- pwd -->
                <div class="row m-t-20 p-t-20 border-top border-secondary">
                    <div class="col-12">
                        <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
                        <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*@{
        ViewData["Title"] = "Forgot your password?";
    }

    <h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
