@model IEnumerable<IdentityRole>
<!-- <div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
            <h5 class="card-title">User Roles</h5>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary btn-sm float-right">
                <a asp-action="Index" class="text-white">Add New</a>
            </button>
        </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 8%">SN</th>
                        <th>Name</th>
                        <th style="width: 15%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var role in Model)
                        {
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td>@role.Id</td>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width: 8%">SN</th>
                        <th>Name</th>
                        <th style="width: 15%">Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div> -->
<h1>asdad</h1>
<!-- @await Component.InvokeAsync(
    "DataTable", new DataTableModel { 
        Url = "/home",
        Controller = "UserRoleController",
        Columns = new List<string>{"Name"},
        Heading = "User Role",
        TableData = Model,
        Keys = new List<string> {"Id", "Name"},
        Actions = new List<TableActions> { TableActions.Show, TableActions.Edit, TableActions.Delete}
    }) -->