@model PosSustemUIU.Models.StoreConfiguration

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add New Store Configuration</h4>
            </div>
            <form asp-action="Create"  method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Sologan" class="control-label"></label>
                                <input asp-for="Sologan" class="form-control" />
                                <span asp-validation-for="Sologan" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MainContact" class="control-label"></label>
                                <input asp-for="MainContact" class="form-control" />
                                <span asp-validation-for="MainContact" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OtherContact" class="control-label"></label>
                                <input asp-for="OtherContact" class="form-control" />
                                <span asp-validation-for="OtherContact" class="text-danger"></span>
                            </div>
                            
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Logo" class="control-label"></label>
                                <input asp-for="Logo" class="form-control" type="file"/>
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Website" class="control-label"></label>
                                <input asp-for="Website" class="form-control" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <textarea asp-for="Address" class="form-control" rows="9"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="customControlAutosizing1" checked>
                                <label class="custom-control-label" for="customControlAutosizing1">Active</label>
                            </div>
                       </div>
                        
                        <div class="col">
                            <div class="card-action">
                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
    $(".select2").select2();

        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
}
