<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="font-24 mdi mdi-comment-processing"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
        <ul class="list-style-none">
            <li>
                <div class="">
                    <!-- Message -->
                    <a href="javascript:void(0)" class="link border-top">
                        <div class="d-flex no-block align-items-center p-10">
                            <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                            <div class="m-l-10">
                                <h5 class="m-b-0">Event today</h5>
                                <span class="mail-desc">Just a reminder that event</span>
                            </div>
                        </div>
                    </a>
                    <!-- Message -->
                    <a href="javascript:void(0)" class="link border-top">
                        <div class="d-flex no-block align-items-center p-10">
                            <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                            <div class="m-l-10">
                                <h5 class="m-b-0">Settings</h5>
                                <span class="mail-desc">You can customize this template</span>
                            </div>
                        </div>
                    </a>
                    <!-- Message -->
                    <a href="javascript:void(0)" class="link border-top">
                        <div class="d-flex no-block align-items-center p-10">
                            <span class="btn btn-primary btn-circle"><i class="ti-user"></i></span>
                            <div class="m-l-10">
                                <h5 class="m-b-0">Pavan kumar</h5>
                                <span class="mail-desc">Just see the my admin!</span>
                            </div>
                        </div>
                    </a>
                    <!-- Message -->
                    <a href="javascript:void(0)" class="link border-top">
                        <div class="d-flex no-block align-items-center p-10">
                            <span class="btn btn-danger btn-circle"><i class="fa fa-link"></i></span>
                            <div class="m-l-10">
                                <h5 class="m-b-0">Luanch Admin</h5>
                                <span class="mail-desc">Just see the my new admin!</span>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</li>